/* =======================
   STATS
======================= */
.stats {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 48px 0;
    text-align: center;
}

.stats div {
    flex: 1;
    background: white;
    padding: 20px;
    border-radius: 16px;
    border: 1px solid #ddd;

}

.stats h2 {
    margin: 0;
    font-size: 28px;
   /* color: #80FF80;*/
   color:#25e92f;
}

.stats p {
    margin-top: 8px;
    font-size: 14px;
    color: #666;
}